@font-face {
    font-family: uniform;
    src: url(./assets/fonts/Uniform.ttf);
}

:root {
	--color-primary: #186CB0;
    --color-secundary: white;
    --color_tertiary:#1a5a8d;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: uniform;
}

/* header */

header {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--color-secundary);
    max-width: 1400px;
   
}

h1 {
    font-size: 15px;
    margin-left: 40px;
    display: flex;
}

#account_spaces {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#account_spaces img {
    height: 30px;
 }

#my_account, #pro_space {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#my_account:hover,#pro_space:hover{
    font-weight: bold;
    cursor: pointer;

}

#pro_space {
    margin-right: 40px;
}

/*  */

/* jumbotron */

.jumbotron_container {
    position: relative;
    text-align: center;
    color: var(--color-secundary);
    max-width:  1400px;
}  
#play_block {
    background-color: black;
    position: absolute;
    top: 80px;
    right: 80px;
    width: 25%;
    font-size: 20px;
    padding: 0 10px;
}

.jumbotron_container img {
    width: 95%;
    margin: 10px;
}

#play {
    background-color: #D03737;
    margin: 10px 5px 15px 5px;
    padding: 10px;
    }

#play:hover {
    background-color: #a33c3c;
    cursor:pointer;
    font-weight: bold;
}
#try {
    padding: 10px;
    text-align: left;
}


/*  */

/*navbar*/

nav {
    width: 95%;
    margin: auto;
}
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--color-secundary);

}

#anchor_tarification {
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: var(--color-primary);
    margin-right: 5px;
    padding: 10px;

}

#anchor_films {
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: var(--color-primary);
    margin-left: 5px;
    padding: 10px;
 
}

#anchor_tarification:hover, #anchor_films:hover {
    cursor: pointer;
    font-weight: bold;
    background-color: var(--color_tertiary);
}

/*  */