@font-face {
    font-family: uniform;
    src: url(./assets/fonts/Uniform.ttf);
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

:root {
	--color-primary: #186CB0;
    --color-secundary: white;
    --color_tertiary:#1a5a8d;
    --color_quaternary: #ECECEC;
    --color_quinquennial: rgb(190, 183, 183);
    --color_sexennal: #C4C4C4;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: uniform;
}

h2 {
    color: var(--color-primary);
    margin-left:  60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* header */

header {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--color-secundary);
   
}

h1 {
    font-size: 15px;
    margin-left: 40px;
    display: flex;
}

#account_spaces {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#account_spaces img {
    height: 30px;
 }

#my_account, #pro_space {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#my_account:hover,#pro_space:hover{
    font-weight: bold;
    cursor: pointer;

}

#pro_space {
    margin-right: 40px;
}

/*  */

/* jumbotron */

.jumbotron_container {
    position: relative;
    text-align: center;
    color: var(--color-secundary);

}  
#play_block {
    background-color: rgba(0, 0, 0, 0.648);
    position: absolute;
    top: 80px;
    right: 80px;
    width: 25%;
    font-size: 20px;
    padding: 0 10px;
}

.jumbotron_container img {
    width: 95%;
    margin: 10px;
}

#play {
    background-color: #D03737;
    margin: 10px 5px 15px 5px;
    padding: 10px;
    }

#play:hover {
    background-color: #a33c3c;
    cursor:pointer;
    font-weight: bold;
}
#try {
    padding: 10px;
    text-align: left;
}


/*  */

/*navbar*/

nav {
    width: 95%;
    margin: auto;
}
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--color-secundary);

}

#anchor_tarification {
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: var(--color-primary);
    margin-right: 5px;
    padding: 10px;

}

#anchor_films {
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: var(--color-primary);
    margin-left: 5px;
    padding: 10px;
 
}

#anchor_tarification:hover, #anchor_films:hover {
    cursor: pointer;
    font-weight: bold;
    background-color: var(--color_tertiary);
}

/*  */

/* tarification */

#tarification {
    max-width: 92%;
    margin: auto;
    display: flex;
}

.tarification_blocks {
    display: flex;
    flex-direction: column;
    width: 100%;

}
#illimity_section, #solo_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--color_quaternary);
    box-shadow: 0 2px 0 var(--color_quinquennial);


}

#solo  >.bold , #illimity >.bold {
    font-weight: bold;
}
    
#illimity, #solo {
    display: flex;
    flex-direction: column;
}
/*  */

/* films */

.film_block {
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}
 .film {
    width:92%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--color_quaternary);
 }

 .film_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
 }
 .film_title span {
    padding-left: 10px;
 }

 .film_title > span:hover{
    cursor: pointer;
 }

 .movie_description {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
 }
 .poster {
    max-width: 15%;
 }
 .poster >img {
    margin: 20px 10px;
    width: 130px;
    height: 200px;
 }
.movie {
    width: 30%;
    padding: 20px 0;
}

.movie_story {
    width: 100%;
}

.movie_story p{
    text-align: right;
    margin: 20px 10px;
    margin-left: 30%;
    padding: 10px;
    
}

.room {
    background-color: var(--color_sexennal);
    display: flex;
    flex-direction: row;
    height: 150px;
    margin: 10px;

 }

 .room_hour {
    background-color: #186CB0;
    width: 20%;
    margin: 10px;
    border-radius: 5px;
    color: var(--color_quaternary);
 }

 .hour {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    width: 100%;
    padding: 22px;
  }


  .hour:hover {
    cursor: pointer;
    background-color: var(--color_tertiary);
    font-weight: bold;
  }
 .hour_room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

 }

 .hour_room p {
    padding: 3px 0;
 }

 .hour_session {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

 .hour_session p {
    padding: 3px 10px;
 }

 #comedy {
    background-color: #4F8B1A;
    color: var(--color-secundary);
    padding: 5px;
}

#full {
    background-color: #FEE961;
    color: black;
    padding: 5px;
}

#action {
    background-color: #6D27A2;
    color: var(--color-secundary);
    padding: 5px;
}

#sf {
    background-color: #794808;
    color: var(--color-secundary);
    padding: 5px;
}

.stars {
    color: var(--color-primary);
}


/*  */

/* footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    color: var(--color-secundary);
    padding: 10px;
    margin-top: 20px;
}
/*  */